*.class
*.log
*.iml
.externalNativeBuild
.cxx
.idea/
build/
.gradle/
local.properties
.build/
out/
*.ipr
*.iws
.DS_Store
/bin/
/build/
/out/
/local.properties
/.idea/workspace.xml
/.idea/libraries
/app/.externalNativeBuild
/app/build
/app/capturedResourceSets
/app/compositeResources
/app/externalJavaCompile/
/app/intermediates/
/app/merged_assets/
/app/merged_manifests/
/app/merged_res/
/app/merged_resources/
/app/outputs/
/app/proguard/
/app/src/main/assets/
/app/src/main/res/mipmap
/app/src/main/res/values/generated.xml
/app/src/main/rs/gen/
/app/src/main/rsLibs/
/app/src/main/assets/___README_DELETE_FILES___/
/app/src/androidTest/assets/
/app/src/androidTest/kotlin/androidTest/
/app/src/androidTest/java/androidTest/
/app/src/androidTest/java/test/
/app/src/test/java/test/
/app/src/test/kotlin/test/
/app/test-results/
/app/build/
/app/captures/
/app/compositeResources/
/captures/
/compositeResources/
/externalJavaCompile/
/intermediates/
/merged_assets/
/merged_manifests/
/merged_res/
/merged_resources/
/proguard/
/src/main/assets/
/src/main/res/mipmap
/src/main/res/values/generated.xml
/src/main/rs/gen/
/src/main/rsLibs/
/src/main/assets/___README_DELETE_FILES___/
/src/androidTest/assets/
/src/androidTest/kotlin/androidTest/
/src/androidTest/java/androidTest/
/src/androidTest/java/test/
/src/test/java/test/
/src/test/kotlin/test/
/test-results/
/.gradle/
